{% extends 'User/homeindex.html' %}
{% block body %}
<body>
    <form id="form1" name="form1" method="post" action="wardrobe_add" enctype="multipart/form-data">
        <table border="1" class="table table-success table-striped">
            <tr>
                <th colspan="2">Add Wardrobe Item</th>
            </tr>
            <tr>
                <td><label for="dress">Dress Image:</label></td>
                <td><input type="file" name="Dress" id="dress" required class="form-control"/></td>
            </tr>
            <tr>
                <td><label for="model_name">Model Name:</label></td>
                <td><input type="text" name="model_name" id="model_name" required class="form-control"/></td>
            </tr>
            <tr>
                <td><label for="dress_type">Dress Type:</label></td>
                <td>
                    <select name="dress_type" id="dress_type" required class="form-control">
                        <option value="Casual">Casual</option>
                        <option value="Formal">Formal</option>
                        <option value="Party Wear">Party Wear</option>
                        <option value="Traditional">Traditional</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="Submit" value="Add" class="btn btn-outline-success"/>
                    <a href="/wardrobe" class="btn btn-outline-primary">Back</a>
                </td>
            </tr>
        </table>
    </form>
</body>
{% endblock %}
