{% extends 'User/homeindex.html' %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Image</title>
    <style>
        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>

    <h2>Image Viewer</h2> : <h2>{{ matching }}</h2>
    <img src="{{ obj }}" alt="Displayed Image">

</body>
</html>
{%endblock%}